In [20]:
from bs4 import BeautifulSoup as BS
import requests
import pandas as pd

## 1. Thu Thập dữ liệu ở một trang

In [21]:
page_link = 'https://www.topcv.vn/tim-viec-lam-intern-tai-ho-chi-minh-kl2?salary=0&exp=0&company_field=1&sort=top_related&page=1'

In [22]:
page_response = requests.get(page_link)

In [23]:
page_content = BS(markup=page_response.content, features='html.parser')

In [24]:
job_box = page_content.find_all('div', class_='job-item')

In [25]:
# Tạo danh danh sách công việc
job_lst = []
for item in job_box:
    job_title = item.find('span', class_='bold transform-job-title').get_text()
    company = item.find('p', class_='company underline-box-job').get_text()
    address = item.find('label', class_='address').get_text()
    salary = item.find('label', class_='salary').get_text()
    job_lst.append([job_title, company, address, salary])

In [26]:
keys = ['Cong viec', 'Cong ty', 'Dia Chi', 'Luong']

In [27]:
job_pd = pd.DataFrame(data=job_lst, columns=keys)

In [28]:
job_pd['Cong ty'] = job_pd['Cong ty'].map(lambda x: x.replace('\n',''))

In [29]:
job_pd.head(10)

,Cong viec,Cong ty,Dia Chi,Luong
0,Thực Tập Sinh SEO,CÔNG TY TNHH LENART,Hồ Chí Minh,Thoả thuận
1,"Thực Tập Sinh .Net Developer (C#, Asp.Net)",CÔNG TY TNHH W2SOLUTION VIỆT NAM,Hồ Chí Minh,Thoả thuận
2,Graphic Designer Internship,Công Ty Cổ Phần Công Nghệ OLLI,Hồ Chí Minh,Thoả thuận
3,Thực Tập Sinh Business Analyst (Mảng Marketing),Top On Seek (TOS) Ltd.,Hồ Chí Minh,Trên 3 triệu
4,Thực Tập Sinh Hỗ Trợ Kinh Doanh - Triển Khai (...,Công ty CP Giải pháp Thanh toán Việt Nam (VNPAY),Hồ Chí Minh,Trên 6 triệu
5,Thực Tập Sinh Kinh Doanh HCM,Công ty cổ phần CTNET,Hồ Chí Minh,Thoả thuận
6,Thực Tập Sinh 3D Artist,Công ty Cổ phần Tập đoàn Công nghệ Unicloud (U...,Hồ Chí Minh,3-4 triệu
7,Thực Tập Sinh 3D Artist,Tập đoàn Sunshine - Sunshine Group,Hồ Chí Minh,2-4 triệu
8,Thực Tập Sinh Content Marketing,Công ty TNHH Marketing Sehilo,Hồ Chí Minh,1-2 triệu
9,Thực Tập Sinh Truyền Thông,Công ty TNHH Hệ thống Thông Tin FPT,Hồ Chí Minh,Thoả thuận

## 2. Thu thập thông tin ở 20 trang web

In [30]:
job_lst = []
for page in range(1,21):
    page_link = 'https://www.topcv.vn/tim-viec-lam-intern-tai-ho-chi-minh-kl2?salary=0&exp=0&company_field=1&sort=top_related&page='+str(page)
    page_response = requests.get(page_link)
    page_content = BS(markup=page_response.content, features='html.parser')
    job_box = page_content.find_all('div', class_='job-item')
    for item in job_box:
        job_title = item.find('span', class_='bold transform-job-title').get_text()
        company = item.find('p', class_='company underline-box-job').get_text()
        address = item.find('label', class_='address').get_text()
        salary = item.find('label', class_='salary').get_text()
        job_lst.append([job_title, company, address, salary])
keys = ['Cong viec', 'Cong ty', 'Dia Chi', 'Luong']
job_pd = pd.DataFrame(data=job_lst, columns=keys)
job_pd['Cong ty'] = job_pd['Cong ty'].map(lambda x: x.replace('\n',''))

In [31]:
job_pd.shape

(410, 4)

In [32]:
job_pd.head()

,Cong viec,Cong ty,Dia Chi,Luong
0,Thực Tập Sinh SEO,CÔNG TY TNHH LENART,Hồ Chí Minh,Thoả thuận
1,"Thực Tập Sinh .Net Developer (C#, Asp.Net)",CÔNG TY TNHH W2SOLUTION VIỆT NAM,Hồ Chí Minh,Thoả thuận
2,Graphic Designer Internship,Công Ty Cổ Phần Công Nghệ OLLI,Hồ Chí Minh,Thoả thuận
3,Thực Tập Sinh Business Analyst (Mảng Marketing),Top On Seek (TOS) Ltd.,Hồ Chí Minh,Trên 3 triệu
4,Thực Tập Sinh Hỗ Trợ Kinh Doanh - Triển Khai (...,Công ty CP Giải pháp Thanh toán Việt Nam (VNPAY),Hồ Chí Minh,Trên 6 triệu

In [33]:
job_pd.tail()

,Cong viec,Cong ty,Dia Chi,Luong
405,Internship React Native Developer,CÔNG TY TNHH GIẢI PHÁP PHẦN MỀM SUNSHINE,Hồ Chí Minh,Trên 2 triệu
406,Thực Tập Sinh Python,Công ty TNHH 1 thành viên công nghệ và truyền ...,"Hà Nội, Hồ Chí Minh",Thoả thuận
407,Thực Tập Sinh Front-End,Công ty Cổ phần Công nghệ HiTime,Hồ Chí Minh,Thoả thuận
408,Server Engineer Internship,CÔNG TY TNHH SNA VIỆT NAM,Hồ Chí Minh,5-15 triệu
409,Thực Tập Sinh Bảo Hành Bảo Trì Thiết Bị An Nin...,Công Ty TNHH Thương Mại Và Dịch Vụ Công Nghệ Sala,"Bến Tre, Hồ Chí Minh",2-5 triệu

In [34]:
job_pd['Luong'].value_counts()
# Các mức lương của thực tập sinh IT ở TP HCM

Thoả thuận      158
Tới 5 triệu      53
Trên 3 triệu     52
Trên 2 triệu     28
Tới 3 triệu      21
2-5 triệu        16
1.2-2 triệu      15
4-6 triệu        15
5-15 triệu       15
Trên 1 triệu      4
2-3 triệu         3
3-4 triệu         3
2-6 triệu         3
Trên 5 triệu      2
2-10 triệu        2
1.5-3 triệu       2
1-2 triệu         2
3-7 triệu         2
2.5-5 triệu       2
Trên 7 triệu      2
3.5-4 triệu       1
1-10 triệu        1
3-8 triệu         1
2-4 triệu         1
Trên 4 triệu      1
6-10 triệu        1
1-3 triệu         1
3-5 triệu         1
Trên 6 triệu      1
Tới 2 triệu       1
Name: Luong, dtype: int64